{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-auto">
            <form method="post" action="{% url 'login' %}">
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary" value="Login" />
            </form>
            <hr>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
        </div>
    </div>
</div>

{% endblock %}
